<!DOCTYPE html>
<html lang="en">
    <head>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
        <link
            rel="shortcut icon"
            href="/static/favicon.ico"
            type="image/x-icon"
        />
        <!-- Bulma CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous"
        />
        <!-- Font Awesome CSS -->
        <script
            src="https://kit.fontawesome.com/6584921572.js"
            crossorigin="anonymous"
        ></script>
        <link
            href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
        />
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>
        <script src="../static/api.js"></script>
        <link href="../static/mystyle.css" rel="stylesheet" />
        <title>게시판</title>
        <script>
            const queryString = window.location.search
            const urlParams = new URLSearchParams(queryString)
            const postId = urlParams.get('postId')
            let deleteCommentId
            let user
            let tokenEmail
            let tokenName
            let wPostId
            $(document).ready(function () {
                getSelfNoAuth(function (u) {
                    user = u
                })
                get_detail()
                setTimeout(function() {
                    try{
                        if(user.nickname){}
                        makeLikeButton()
                    }catch(err){
                        nologinLikeCount()
                    }
                }, 100)
                
                
                setTimeout(function () {
                    makeLogoutButton()
                }, 100)
                
                
            })
            function makeLikeButton(){
                let nickinfo = user.nickname
                $.ajax({
                    type: 'PATCH',
                    url: `/api/post/chklikes/${postId}`,
                    data: {
                        nickname: nickinfo,
                    },
                    success: function (response) {
                        let likestate = response.likestate
                        let likecount = response.likecount
                        if(likestate){
                            $('#likeButton').remove()
                            $('#likeLabel').remove()
                            let likeHtml = `<label class="label" id="likeLabel">좋아요 ${likecount}개 </label><i class="fas fa-heart" id="likedButton" onclick="updateLike()"></i>
                                            `
                            $('#likeButtonArea').append(likeHtml)
                        } else { 
                            $('#likeButton').remove()
                            $('#likeLabel').remove()
                            let likeHtml = `<label class="label" id="likeLabel">좋아요 ${likecount}개</label><i class="far fa-heart" id="likedButton" onclick="updateLike()"></i>`
                            $('#likeButtonArea').append(likeHtml)
                        }
                        console.log(likestate)
                    }
                }) 
            }
            function nologinLikeCount(){
                $.ajax({
                    type: 'GET',
                    url: `/api/post/nologinchklikes/${postId}`,
                    data: {},
                    success: function (response) {
                        let likecount = response.likecount
                        
                            $('#likeButton').remove()
                            $('#likeLabel').remove()
                            let likeHtml = `<label class="label" id="likeLabel">좋아요 ${likecount}개 </label><i class="far fa-heart" id="likedButton" onclick="updateLike()"></i>
                                            `
                            $('#likeButtonArea').append(likeHtml)
                        
                    }
                }) 
            }
            
            function get_detail() {
               
                $.ajax({
                    type: 'GET',
                    url: `/api/posts/${postId}`,
                    data: {},
                    error: function (xhr, status, error) {
                        if (status == 404) {
                            alert('존재하지 않는 글입니다.')
                        }
                        window.location.href = '/board'
                    },
                    success: function (response) {
                        console.log(response)
                        $('#postload').empty()
                        $('#commentload').empty()
                        let postDetail = response['posts']
                        let postNickname = postDetail.nickname
                        let chkPw = postDetail['contentPw']
                        let likestate = response.likestate
                        let likecount = response.likecount
                        wPostId = postDetail.postId

                        let htmlTemp = `<article class="message is-dark">
                                          <div class="message-header">
                                            <p>${postDetail['title']}</p>
                                          </div>
                                          <div class="message-body">
                                            ${postDetail['content']}
                                          </div>
                                        </article>
                                        <div class="buttoncontrol">
                                        <div class="invisiblebuttoncontrol"></div>
                                        <button class="button is-black" onclick="checkAuthRewrite('${postNickname}')">수정하기</button>
                                        <button class="button is-black" onclick="openPostModal(${chkPw},'${postNickname}')">삭제하기</button>
                                        </div>`

                        let modalHtml = `<div class="modal" id="postModal">
                                            <div class="modal-background"></div>
                                            <div class="modal-content">
                                              <h3>비밀번호를 입력하세요</h3>
                                              <input class="input is-rounded" type="number" placeholder="비밀번호 숫자4자리" width="200px" id="deletePw">
                                              <div class="buttoncontrol2">
                                              <div class="invisiblebuttoncontrol2"></div>
                                              <button class="button is-black a" onclick="deletePost(${chkPw})">삭제하기</button>
                                              <button class="button is-black a" onclick="closePostModal()">닫기</button>
                                              </div>
                                            </div>
                                        </div>
                                        `

                        let commentButtonHtml = `<button class="button is-info" style="display: block; margin : 20px 80%;" onclick="writeComment(${postDetail.postId})">댓글저장</button>`

                        $('#postload').append(htmlTemp)

                        $('#commentbuttonarea').append(commentButtonHtml)
                        $('body').append(modalHtml)

                        for (let i = 0; i < response.comments.length; i++) {
                            let commentDetail = response['comments'][i]
                            let commentDetailNick = commentDetail.nickname
                            let commentDetailId = commentDetail.commentId
                            try {
                                if (commentDetail.nickname == user.nickname) {
                                    let commentHtml = `<div class="box" style="max-height: 300px;">
                                            <article class="media">
                                                <div class="media-left">
                                                <figure class="image is-64x64">
                                                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                                                </figure>
                                                </div>
                                                <div class="media-content">
                                                <div class="content" id="content-${commentDetailId}">
                                                    <h4>
                                                    <strong>${commentDetail.nickname}</strong> <small>${commentDetail.date}</small>
                                                    </h4>
                                                    <p id="comment-${commentDetailId}">${commentDetail.content}</p>
                                                </div>
                                                <nav class="level is-mobile">
                                                    <div class="level-left" id="commentButtonArea-${commentDetailId}" style="max-height: 200px;">
                                                    <a class="level-item" aria-label="retweet" id="commentUpdateButton-${commentDetailId}" onclick="commentTransformUpdate(${commentDetailId})">
                                                        <span class="tag is-link is-light">수정</span>
                                                    </a>
                                                    <a class="level-item" aria-label="like" id="commentDeleteButton-${commentDetailId}" onclick="openCommentModal(${commentDetailId})">
                                                        <span class="tag is-danger is-light">삭제</span>
                                                    </a>
                                                    </div>
                                                </nav>
                                                </div>
                                            </article>
                                            </div>`
                                    $('#commentload').append(commentHtml)
                                } else {
                                    let commentHtml = `<div class="box"style="max-height: 300px;">
                                            <article class="media">
                                                <div class="media-left">
                                                <figure class="image is-64x64">
                                                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                                                </figure>
                                                </div>
                                                <div class="media-content" style="max-height: 200px;">
                                                <div class="content">
                                                    <h4>
                                                    <strong>${commentDetail.nickname}</strong> <small>${commentDetail.date}</small>
                                                    </h4>
                                                    <p id="comment-${commentDetailId}">${commentDetail.content}</p>
                                                </div>
                                                <nav class="level is-mobile">
                                                    <div class="level-left" id="commentButtonArea-${commentDetailId}">
                                                    </div>
                                                </nav>
                                                </div>
                                            </article>
                                            </div>`
                                    $('#commentload').append(commentHtml)
                                }
                            } catch {
                                let commentHtml = `<div class="box" style="max-height: 300px;">
                                            <article class="media">
                                                <div class="media-left">
                                                <figure class="image is-64x64">
                                                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                                                </figure>
                                                </div>
                                                <div class="media-content">
                                                <div class="content" id="content-${commentDetailId}">
                                                    <h4>
                                                    <strong>${commentDetail.nickname}</strong> <small>${commentDetail.date}</small>
                                                    </h4>
                                                    <p id="comment-${commentDetailId}">${commentDetail.content}</p>
                                                </div>
                                                <nav class="level is-mobile">
                                                    <div class="level-left" id="commentButtonArea-${commentDetailId}" style="max-height: 200px;">
                                                    
                                                    </div>
                                                </nav>
                                                </div>
                                            </article>
                                            </div>`
                                $('#commentload').append(commentHtml)
                            }
                        }
                        
                    },
                })
                
                
            }

           
// 인증부분 미들웨어를 사용하면 된다는 걸 너무 늦게 깨달았다...
            function checkAuthRewrite(postNickname){
                try{
                    if(postNickname == user.nickname){
                        location.href=`/rewrite?postId=${postId}`
                    }else {
                        alert('자신이 쓴 글만 수정 가능합니다!')
                    }
                }catch(err) {
                    alert('로그인 후 이용하세요')
                    location.href=`/detail?postId=${postId}`
                }
            }

            function deleteComment(id) {
                const commentId = id
                $.ajax({
                    type: 'DELETE',
                    url: `/api/comments/${postId}`,
                    data: {
                        commentId: commentId,
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('삭제 완료')
                            location.href = `/detail?postId=${postId}`
                        }
                    },
                    error: function (response) {
                        if (response['result'] == 'error') {
                            alert('삭제 실패')
                        }
                    },
                })
            }
            //수정하는 댓글형태로 바꾼다.
            function commentTransformUpdate(id) {
                $(`#content-${id}`).remove('h4')
                $(`#comment-${id}`)
                    .contents()
                    .unwrap()
                    .wrap(
                        `<textarea class="textarea is-info" placeholder="Info textarea" id="commentInput-${id}" style="max-height: 130px;"></textarea>`
                    )
                $(`#commentUpdateButton-${id}`).remove()
                $(`#commentDeleteButton-${id}`).remove()
                $(`#commentButtonArea-${id}`).append(`
                                                    <a class="level-item" aria-label="like" id="commentDeleteButton-${id}" onclick="updateComment(${id})">
                                                        <span class="tag is-danger is-light">수정</span>
                                                    </a>
                                                    <a class="level-item" aria-label="retweet" id="commentUpdateButton-${id}" onclick="commentTransformSelect(${id})">
                                                        <span class="tag is-link is-light">취소</span>
                                                    </a>`)
            }
            //조회하는 댓글형태로 돌아온다
            function commentTransformSelect(id) {
                $(`#commentInput-${id}`)
                    .contents()
                    .unwrap()
                    .wrap(`<p id="comment-${id}"></p>`)
                $(`#commentUpdateButton-${id}`).remove()
                $(`#commentDeleteButton-${id}`).remove()
                $(`#commentButtonArea-${id}`)
                    .append(`<a class="level-item" aria-label="retweet" id="commentUpdateButton-${id}" onclick="commentTransformUpdate(${id})">
                                                        <span class="tag is-link is-light">수정</span>
                                                    </a>
                                                    <a class="level-item" aria-label="like" id="commentDeleteButton-${id}" onclick="openCommentModal()">
                                                        <span class="tag is-danger is-light">삭제</span>
                                                    </a> `)
            }
            
            function updateLike(){
                try{
                    
                    if(user.nickname){
                        $.ajax({
                        type: 'PATCH',
                        url: `/api/post/likes/${postId}`,
                        data: {
                            nickname: user.nickname,
                        },
                        success: function (response) {
                            if (response['result'] == 'success') {
                                alert('좋아요 반영')

                                
                                location.href = `/detail?postId=${postId}`
                            }
                        },
                    })
                    }
                }catch(err) {
                    alert('로그인 후 이용하세요')
                    location.href=`/detail?postId=${postId}`
                }
            }
            function updateComment(id) {
                const content = $(`#commentInput-${id}`).val()
                const commentId = id
                if (content == ('' || undefined)) {
                    alert('댓글 내용을 입력해주세요')
                    return
                } else {
                    $.ajax({
                        type: 'PATCH',
                        url: `/api/comments/${postId}`,
                        data: {
                            content: content,
                            commentId: id,
                        },
                        success: function (response) {
                            if (response['result'] == 'success') {
                                alert('수정 완료')
                                location.href = `/detail?postId=${postId}`
                            }
                        },
                    })
                }
            }

            function updatePost(chkPw) {
                const title = $('#postTitle').val()
                const content = $('#postContent').val()
                const contentPw = parseInt($('#postPw').val())
                const date = Date()

                if (contentPw != chkPw) {
                    alert('패스워드를 확인하세요')
                    return
                } else if (title == '') {
                    alert('제목을 입력하세요.')
                    return
                } else if (content == '') {
                    alert('글 내용을 입력하세요.')
                    return
                } else if (contentPw == '') {
                    alert('글 비밀번호를 입력하세요.')
                    return
                } else if (typeof contentPw != 'number') {
                    alert('비밀번호는 숫자 4자리만 입력하세요.')
                    return
                } else if (contentPw > 9999) {
                    alert('비밀번호는 숫자 4자리만 입력하세요.')
                    return
                } else {
                    $.ajax({
                        type: 'PATCH',
                        url: `/api/posts/${postId}`,
                        data: {
                            title: title,
                            content: content,
                        },
                        success: function (response) {
                            if (response['result'] == 'success') {
                                alert('수정 완료')
                                location.href = '/board'
                            }
                        },
                    })
                }
            }

            function openPostModal(chkPw, postNickname) {
                const modal = document.querySelector('#postModal')
                try{
                    if(postNickname == user.nickname){
                        modal.style.display = 'flex'
                    }else {
                        alert('자신이 쓴 글만 삭제 가능합니다!')
                    }
                }catch(err) {
                    alert('로그인 후 이용하세요')
                    location.href=`/detail?postId=${postId}`
                }
                
                
            }
            function closePostModal() {
                const modal = document.querySelector('#postModal')
                modal.style.display = 'none'
            }
            function openCommentModal(id) {
                deleteCommentId = id
                let commentModalHtml = `<div class="modal" id="commentModal">
                                            <div class="modal-background"></div>
                                            <div class="modal-content">
                                              <div class="buttoncontrol2">
                                              <div class="invisiblebuttoncontrol2"></div>
                                              <button class="button is-black a" onclick="deleteComment(${deleteCommentId})">댓글삭제</button>
                                              <button class="button is-black a" onclick="closeCommentModal()">닫기</button>
                                              </div>
                                            </div>
                                        </div>`

                $('body').append(commentModalHtml)
                const modal = document.querySelector('#commentModal')
                modal.style.display = 'flex'
            }
            function closeCommentModal() {
                const modal = document.querySelector('#commentModal')
                modal.style.display = 'none'
                deleteCommentId = ''
                $(`#commentModal`).remove()
            }

            function deletePost(chkPw) {
                try{
                    const contentPw = parseInt($('#deletePw').val())
                    const nickName = user.nickname
                if (contentPw != chkPw) {
                    alert('패스워드를 확인하세요')
                    return
                } else {
                    $.ajax({
                        type: 'DELETE',
                        url: `/api/posts/${postId}`,
                        data: {},
                        success: function (response) {
                            if (response['result'] == 'success') {
                                alert('삭제 완료')
                                location.href = '/board'
                            }
                        },
                    })
                }
                }catch(err){
                    alert('로그인 후 이용하세요')
                    location.href = `/detail?postId=${postId}`
                }
            }

            function writeComment(id) {
                try{
                    const postId = id
                const commentId = Date.now()
                const content = $('#commentContent').val()
                const nickname = user.nickname
                let d = new Date()
                let localeDate = d.toLocaleDateString()
                let localeTime = d.toLocaleTimeString()
                const date = localeDate + '  ' + localeTime

                if (content == '') {
                    alert('글 내용을 입력하세요.')
                    return
                } else {
                    $.ajax({
                        type: 'POST',
                        url: `/api/writecomments`,
                        data: {
                            postId: postId,
                            commentId: commentId,
                            nickname: nickname,
                            content: content,
                            date: date,
                        },
                        success: function (response) {
                            if (response['result'] == 'success') {
                                alert('저장 완료')
                                location.href = `/detail?postId=${postId}`
                            }
                        },
                    })
                }
                }catch(err){
                    alert('로그인 후 이용하세요')
                    location.href = `/detail?postId=${postId}`
                }
                
            }
        </script>
    </head>
    <body>
        <!-- Just an image -->
        <nav class="navbar navbar-light bg-light">
            <a href="/board"><h5 class="navtitle">게시판</h5></a>
            <a href="/chat"><h3 class="navtitle">채팅방</h3></a>
            <a class="navbar-brand" href="/">
                <img
                    src="https://i.pinimg.com/564x/b5/70/d8/b570d831b240df6c033a4e2f8d2b7740.jpg"
                    width="60"
                    height="60"
                    alt=""
                />
            </a>
            <button
                type="button"
                class="btn btn-outline-sparta"
                id="signOutButton"
                onclick="signOut()"
            >
                로그아웃하기
            </button>
        </nav>
        <div class="postbar" id="postload"></div>
        <div id='likeButtonArea'><label class="label" id="likeLabel">좋아요 </label><i class="far fa-heart" id="likeButton" onclick="updateLike()"></i></div>
        <div class="commentbar">
            <div class="control" id="commentarea">
                <label class="label">댓글작성하기</label>
                <textarea
                    class="textarea is-focused"
                    id="commentContent"
                    placeholder="댓글을 남겨주세요!"
                ></textarea>
                <div class="commentbutton" id="commentbuttonarea"></div>
            </div>
            <div class="commentcontrol" id="commentload">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img
                                    src="https://bulma.io/images/placeholders/128x128.png"
                                    alt="Image"
                                />
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>준비중...</strong>
                                    <small>경고창 빨리클릭하세요!</small>
                                    <small>31m</small>
                                    <br />
                                    댓글 불러올 준비 중......
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item" aria-label="reply">
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </body>
</html>
